section.profile_info {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    align-items: center; 
    padding: 2em;
    width: auto;
    margin: 0 auto;
}

.profile_info > img {
    border-radius: 50%;
    width: 15em;
    height: 15em;
    object-fit: cover;                                                                  
    margin-right: 20px;
}

.profile_info ul:first-of-type li:first-child{
    font-size: 2em;
}

.profile_info ul:nth-of-type(2) li:first-child{
    padding-left: 0em;
}

.profile_info ul li:nth-child(2){
    float: left;
    padding-right: 1em;
}


.profile_info ul:nth-of-type(2){
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.profile_info ul:nth-of-type(2) li{
    padding-left: 0.5em;
}

.profile_info ul:nth-of-type(1){
    list-style-type: none;
}

.profile_info .edit_profile {
    background-color: #CBE896;
    border: none;
    color: white;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin-top: 1.2em;
    cursor: pointer;
    border-radius: 8px;
}

.profile_option ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;
}

.profile_option ul > li > a {
    text-align: center;
    text-decoration: none;
    color:black;
    margin-left: 1em;
}

.profile_option ul > li > a:hover {
    background-color: lightgrey;
    border-bottom: 2px solid #CBE896;
}

.blue-line {
    background-color: #CBE896;
    height: 2px;
    width: 100%;
    padding-bottom: 100;
}

button img {
    filter: invert(100%);
    padding-right: 0.5em;
}

a {
    cursor: pointer;
}

.Items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 1em;
}

.item {
    width: 300px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 5em;
    margin-top: 2em;
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.item h3 {
    font-size: 18px;
    margin: 10px 0;
}

#item-count h3{
    padding: 1em 0 0 2em;
}

.item p {
    font-size: 16px;
    margin: 5px 0;
}